*.suo
.vs/
src/DataAccess/obj/
src/DataAccess/bin/
src/DodjiParser/bin/
src/DodjiParser/obj/
src/ParserTest/bin/
src/ParserTest/obj/
*.user
*.lock.json
src/InfoParser/obj/
src/InfoParser/bin/
src/SharedModel/bin/
src/SharedModel/obj/
